{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

        {# <h1>Les Argonautes</h1>

        <h2>Ajouter un(e) Argonaute</h2>

        <h2>Nom de l'Argonaute</h2>

        <table class="table">
        
        {{ include('main/_form.html.twig') }} #}
        
        <tbody>

        <h2>Membres de l'équipage</h2>
        
            <tr>
                <td>{{ users }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
