{% extends 'base.html.twig' %}


{% block body %}

        <h1>Les Argonautes</h1>

        <h2>Ajouter un(e) Argonaute</h2>

        <h2>Nom de l'Argonaute</h2>

        {% set content %}
         {# {{ include('main/_form.html.twig') }} #}
        {% endset %}

    <table class="table">
        
        
        
            <tbody>

                <h2>Membres de l'équipage</h2>

               {% for customer in users %}
                    <li>{{ customer.name}}</li>
                {% endfor %}

            </tbody>
    </table>
{% endblock %}
